@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #000c0a;

  color: #d1d9d9;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.o-p-header.is-open .o-p-header-background {
  left: 0;
}
.o-p-header-button-wrapper {
  margin-left: auto;
}
.o-p-header-icon {
  display: none;
}

.o-p-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.o-p-navigation-list.is-open {
  right: 0;
}
.o-p-header-icon-menu {
  display: block;
}

.o-p-header-icon-button.is-open .o-p-header-icon-menu {
  display: none;
}

.o-p-header-icon-button.is-open .o-p-header-icon-close {
  display: block;
}

.o-p-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 52px;
  background: #000c0a;
}

.o-p-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #000c0a;
}
.o-p-header.is-open .o-p-header-background {
  left: 0;
}
.o-p-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.o-p-header-icon-menu {
  display: block;
}

.o-p-header-icon-button.is-open .o-p-header-icon-menu {
  display: none;
}

.o-p-header-icon-button.is-open .o-p-header-icon-close {
  display: block;
}

.o-p-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 6px 16px;
  position: relative;
}

.o-p-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 150px 32px;

  gap: 24px;
  background: #000c0a;
}

.o-p-navigation-list.is-open {
  right: 0;
}

.o-p-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-family: DM Serif Display;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 4%;
  text-align: center;
  text-transform: uppercase;

  color: #d3d3d3;
  padding: 8px 12px;
}

.o-p-navigation-link:hover,
.o-p-navigatioт-link:focus {
  color: #b0d8e8;
}

.o-p-header.is-open {
  background-color: transparent;
}

.o-p-navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .o-p-navigation-img {
    display: block;
    margin-right: 417px;
  }
  .o-p-policy-terms-header-icon-menu {
    display: none;
  }
  .o-p-header-button-wrapper {
    display: none;
  }
  .o-p-header {
    width: 100%;
    height: 62px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .o-p-header-icon-button {
    display: none;
  }
  .o-p-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    padding: 0 80px;
    margin: auto;
  }

  .o-p-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 24px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .o-p-navigation-link {
    font-family: DM Serif Display;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 4%;
    text-align: center;
    text-transform: uppercase;
  }

  .o-p-navigation-item-desk {
    display: none;
  }
}

.o-p-home {
  width: 375px;
  height: 812px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Hero_Secion.png");
  margin: auto;
}
.o-p-home-container {
  padding: 592px 16px 0px;
  margin: auto;
}

.o-p-home-container-top {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.o-p-home-title {
  font-family: DM Serif Display;
  font-weight: 400;
  font-style: Regular;
  font-size: 42px;
  leading-trim: NONE;
  line-height: 112.00000000000001%;
  letter-spacing: 8%;
  text-transform: uppercase;
  text-shadow: 4px 4px 30px #ffffff40;
}

.o-p-home-text {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 10%;
  text-transform: uppercase;
}
.o-p-home-text-two {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 136%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .o-p-home {
    width: auto;

    background-image: url("/img/Hero_Secion\ \(1\).png");
  }
  .o-p-home-container {
    width: 1440px;
    padding: 470px 64px 0;
  }
  .o-p-home-container-top {
    display: flex;
    flex-direction: column;
    width: 692px;
  }

  .o-p-home-title {
    font-family: DM Serif Display;
    font-weight: 400;
    font-style: Regular;
    font-size: 92px;
    leading-trim: NONE;
    line-height: 112.00000000000001%;
    letter-spacing: 6%;
    text-transform: uppercase;
  }

  .o-p-home-text {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 10%;
    text-transform: uppercase;
  }
  .o-p-home-text-two {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 136%;
    letter-spacing: 0%;
    width: 563px;
  }
}
.o-p-about {
  margin: auto;
  width: 375px;
  height: 493px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Section\ \(1\).png");
}
.o-p-about-container {
  padding: 64px 16px 0px;
  margin: auto;
}
.o-p-about-title {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 10%;
  text-transform: uppercase;
  color: #d3d3d3;
}
.o-p-about-title-two {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 136%;
  letter-spacing: 0%;
  padding-top: 24px;
}
.o-p-about-text {
  font-family: DM Serif Display;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  leading-trim: NONE;
  line-height: 112.00000000000001%;
  letter-spacing: 24%;
  text-transform: uppercase;
  padding-top: 32px;
}

.o-p-about-text-bold {
  font-family: DM Serif Display;
  font-weight: 400;
  font-style: Regular;
  font-size: 38px;
  leading-trim: NONE;
  line-height: 112.00000000000001%;
  letter-spacing: 4%;
  text-transform: uppercase;
  padding: 4px 0 0 54px;
}
.o-p-about-text-bold-two {
  padding-left: 24px;
}
@media screen and (min-width: 1200px) {
  .o-p-about {
    width: auto;
    height: 528px;
    background-image: url("/img/Section\ \(2\).png");
  }
  .o-p-about-container {
    width: 1440px;
    padding: 120px 176px 80px;
  }
  .o-p-about-title {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 10%;
    text-transform: uppercase;
  }
  .o-p-about-title-two {
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 136%;
    letter-spacing: 0%;
    width: 580px;
    padding-top: 24px;
  }
  .o-p-about-text {
    font-family: DM Serif Display;
    font-weight: 400;
    font-style: Regular;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 112.00000000000001%;
    letter-spacing: 32%;
    text-transform: uppercase;

    padding-top: 64px;
  }

  .o-p-about-text-bold {
    font-family: DM Serif Display;
    font-weight: 400;
    font-style: Regular;
    font-size: 62px;
    leading-trim: NONE;
    line-height: 112.00000000000001%;
    letter-spacing: 4%;
    text-transform: uppercase;

    padding: 4px 0 0 54px;
  }
}
.o-p-why {
  margin: auto;
  width: 375px;
  height: 557px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Section\ \(3\).png");
}

.o-p-why-container {
  margin: auto;
  padding: 64px 16px 0;
}
.o-p-why-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.o-p-why-item {
  display: flex;
  gap: 16px;
}
.o-p-why-img {
  width: 24px;
}
.o-p-why-text-bold {
}
.o-p-why-text {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 136%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .o-p-why {
    width: auto;
    height: 674px;
    background-image: url("/img/Section\ \(4\).png");
  }
  .o-p-why-container {
    width: 1440px;
    padding: 80px 176px 0 684px;
  }
  .o-p-why-list {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .o-p-why-item {
    display: flex;
    gap: 16px;
  }

  .o-p-why-text {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 136%;
    letter-spacing: 0%;
  }
}
.o-p-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Section\ 1.png");
  width: 375px;
  margin: auto;
}
.o-p-uniqueness {
  margin: auto;
  width: 375px;
}
.o-p-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 40px 16px 0;
}
.o-p-uniqueness-list {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
}
.o-p-uniqueness-item {
  border-bottom: 1px solid #ffffff29;
  backdrop-filter: blur(12px);

  padding: 32px;
}
.o-p-uniqueness-img {
  width: 40px;
  margin: auto;
}

.o-p-uniqueness-text {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 136%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 16px;
}

@media screen and (min-width: 1200px) {
  .o-p-section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/Section\ 1.png");
    width: auto;
    margin: auto;
  }
  .o-p-uniqueness {
    margin: auto;
    width: 1440px;
  }
  .o-p-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 80px 176px;
  }
  .o-p-uniqueness-list {
    padding-top: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .o-p-uniqueness-item {
    width: 362px;
    border: transparent;
    padding: 32px;
  }
  .o-p-uniqueness-item-one {
    border: solid #ffffff29;
    border-width: 0 1px 1px 0;
  }
  .o-p-uniqueness-item-two {
    border: solid #ffffff29;
    border-width: 0 1px 1px 0;
  }
  .o-p-uniqueness-item-three {
    border-bottom: 1px solid #ffffff29;
  }
  .o-p-uniqueness-item-four {
    border: solid #ffffff29;
    border-width: 0 1px 0 1px;
  }
  .o-p-uniqueness-text {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 136%;
    letter-spacing: 0%;
    text-align: center;

    padding-top: 16px;
  }
}
.o-p-how {
  margin: auto;
  width: 375px;
  height: 448px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Section.png");
}
.o-p-how-container {
  margin: auto;
  width: 375px;
  padding: 64px 16px 0;
}

.o-p-how-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 24px;
  padding-bottom: 32px;
}

.o-p-how-img {
  width: 26px;
}

.o-p-how-text-bold {
  font-family: DM Serif Display;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 112.00000000000001%;
  letter-spacing: 4%;
  text-transform: uppercase;
  color: #b0d8e8;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .o-p-how {
    margin: auto;
    width: auto;
    height: 525px;

    background-image: url("/img/Section\ \(5\).png");
  }
  .o-p-how-container {
    margin: auto;
    width: 1440px;
    padding: 80px 176px 0 848px;
  }

  .o-p-how-item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 24px;
    padding-bottom: 0px;
  }

  .o-p-how-text-bold {
    font-family: DM Serif Display;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 112.00000000000001%;
    letter-spacing: 4%;
    text-transform: uppercase;
  }
}

.o-p-faq-container {
  padding: 40px 16px;
  width: 375px;
  margin: auto;
}
.o-p-faq-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.o-p-faq-item {
  background: #696c6b;

  padding: 20px 18px;
}

.o-p-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 136%;
  letter-spacing: 0%;
}

.o-p-faq-answer {
  width: 271px;
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 136%;
  letter-spacing: 0%;
}
.o-p-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.o-p-toggle-button img {
  width: 24px;
  transition: transform 0.3s ease;
}
.o-p-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.4s ease,
    opacity 0.4s ease;
  opacity: 0;
}

.o-p-faq-answer.open {
  max-height: 200px;
  opacity: 1;
  padding-top: 16px;
}

.o-p-toggle-button img.rotated {
  transform: rotate(180deg);
}
@media screen and (min-width: 1200px) {
  .o-p-faq-container {
    padding: 80px 176px;
    width: 1440px;
    margin: auto;
  }
  .o-p-faq-list {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .o-p-faq-item {
    background: #696c6b;

    padding: 20px 24px;
  }

  .o-p-faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 136%;
    letter-spacing: 0%;
  }

  .o-p-faq-answer {
    width: auto;
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 136%;
    letter-spacing: 0%;
  }

  .o-p-toggle-button img {
    width: 24px;
    transition: transform 0.3s ease;
  }
}

.o-p-gallery-container {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
}
.o-p-gallery-list {
  width: auto;
  padding-top: 16px;
  margin: auto;
}

.o-p-gallery-item {
  width: 343px;
  height: 229px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.o-p-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.o-p-gallery-button-container {
  padding-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 263px;
}

.o-p-gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}
.o-p-gallery-button-icon {
  width: 40px;
}
.o-p-gallery-button:hover {
  scale: 120%;
}
@media screen and (min-width: 1200px) {
  .o-p-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 80px 176px;
    position: relative;
  }
  .o-p-gallery-button-icon {
    width: 80px;
  }
  .o-p-gallery-list-left {
    position: absolute;
    top: 622px;
    left: 176px;

    z-index: 1;
  }
  .o-p-gallery-list-right {
    position: absolute;
    top: 622px;
    right: 176px;
    z-index: 1;
  }
  .o-p-gallery-list {
    width: auto;
    padding-top: 48px;
    margin: auto;
  }

  .o-p-gallery-item {
    width: 1088px;
    height: 725px;

    margin: 0 16px;
  }

  .o-p-gallery-button-container {
    padding-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
}

.o-p-policy-terms-container {
  padding: 112px 16px 60px;
  width: 375px;
  margin: auto;
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 136%;
  letter-spacing: 0%;
}

.o-p-policy-terms-container h1 {
  text-transform: uppercase;
  margin-bottom: 40px;
  font-family: DM Serif Display;
  font-weight: 400;
  font-style: Regular;
  font-size: 42px;
  leading-trim: NONE;
  line-height: 112.00000000000001%;
  letter-spacing: 8%;
  text-align: center;
  text-transform: uppercase;
}
.o-p-policy-terms-container h2 {
  margin-bottom: 16px;
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 136%;
  letter-spacing: 0%;
}
.o-p-policy-terms-container ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 24px;
}
.o-p-policy-terms-container p {
  margin-bottom: 24px;
}
.o-p-email-link {
  color: #3d6dff;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .o-p-policy-terms-container {
    padding: 182px 212px 120px;
    width: 1440px;
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 136%;
    letter-spacing: 0%;
  }
  .o-p-policy-terms-container h1 {
    font-family: DM Serif Display;
    font-weight: 400;
    font-style: Regular;
    font-size: 92px;
    leading-trim: NONE;
    line-height: 112.00000000000001%;
    letter-spacing: 6%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  .o-p-policy-terms-container h2 {
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 136%;
    letter-spacing: 0%;
  }
  .o-p-policy-terms-container p {
    margin-bottom: 16px;
  }
}

.o-p-footer-container {
  width: 375px;
  padding: 60px 16px;
  margin: auto;
  display: flex;
  flex-direction: column;

  gap: 32px;
}

.o-p-footer-wrapper {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.o-p-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 136%;
  letter-spacing: 0%;
  text-align: center;
}

.o-p-footer-copyright {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 136%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .o-p-footer-container {
    width: 1440px;
    padding: 60px 88px;

    gap: 60px;
  }

  .o-p-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 60px;
  }

  .o-p-footer-text {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 136%;
    letter-spacing: 0%;
    text-align: center;
  }

  .o-p-footer-copyright {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 136%;
    letter-spacing: 0%;
    text-align: center;
  }
}
